body{
    background-color: black;
    font-family:poppins;
    color:#fff;
    padding:5px 20%;
}
.title{
    margin-top: 25%;
}

button {
    background-color:yellowgreen;
    cursor:pointer;
    padding:10px 15px;
    border: none;
    border-radius: 10px;
}