{% extends 'bootstrap/base.html' %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
      <form action="{{ url_for('add_cafe')}}" method="post">
        {{ form.hidden_tag() }}
        {{ form.cafe.label }} {{ form.cafe(size=32) }}<br>
        {{ form.location.label }} {{ form.location(size=32) }}<br>
        {{ form.open_time.label }} {{ form.open_time(size=32) }}<br>
        {{ form.closing_time.label }} {{ form.closing_time(size=32) }}<br>
        {{ form.coffee_rating.label }} 
<select id="{{ form.coffee_rating.id }}" name="{{ form.coffee_rating.name }}">
    {% for value, label in form.coffee_rating.choices %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select><br>

{{ form.wifi_rating.label }} 
<select id="{{ form.wifi_rating.id }}" name="{{ form.wifi_rating.name }}">
    {% for value, label in form.wifi_rating.choices %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select><br>

{{ form.power_rating.label }} 
<select id="{{ form.power_rating.id }}" name="{{ form.power_rating.name }}">
    {% for value, label in form.power_rating.choices %}
        <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
</select><br>
        {{ form.submit() }}
    </form>

      <!-- This is where your WTForm will go -->

	  <p class="space-above"><a href="{{ url_for('add_cafe') }}">See all cafes</a></p>
    
    </div>
  </div>
</div>

{% endblock %}
